@font-face {
  font-family: Geist;
  font-weight: 300;
  font-display: swap;
  src: url(/static/fonts/Geist/Geist-UltraLight.woff2) format("woff2"),
    url(/static/fonts/Geist/Geist-UltraLight.woff) format("woff");
}

@font-face {
  font-family: Geist;
  font-weight: 400;
  font-display: swap;
  src: url(/static/fonts/Geist/Geist-Regular.woff2) format("woff2"),
    url(/static/fonts/Geist/Geist-Regular.woff) format("woff");
}

@font-face {
  font-family: Geist;
  font-weight: 600;
  font-display: swap;
  src: url(/static/fonts/Geist/Geist-SemiBold.woff2) format("woff2"),
    url(/static/fonts/Geist/Geist-SemiBold.woff) format("woff");
}

@font-face {
  font-family: Geist;
  font-weight: 800;
  font-display: swap;
  src: url(/static/fonts/Geist/Geist-Black.woff2) format("woff2"),
    url(/static/fonts/Geist/Geist-Black.woff) format("woff");
}

:root {
  --primary: #0070f3;
  --secondary: #ff0080;
  --background: #f1f1f1;
  --text: #333;
  --text-light: #666;
  --text-dark: #000;
  --link: #0070f3;
  --link-hover: #0366d6;
  --border: #888;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --text: #fff;
    --text-light: #aaa;
    --text-dark: #fff;
    --link: #157df5;
    --link-hover: #70b3ff;
    --border: #666;
  }
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: Geist, serif;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text);
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
}

button {
  line-height: 1.15;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  background: transparent;
  cursor: pointer;
  color: inherit;
}

input {
  line-height: 1.15;
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  color: inherit;
}

h1 {
  font-size: 2.8em;
}

h2 {
  font-size: 1.8em;
}

p {
  font-size: 1.2em;
}

footer {
  text-align: center;
  padding: 1.6rem 0 2rem 0;
}

footer small {
  font-size: 1em;
  line-height: 1.2;
  color: var(--text-light);
}

svg {
  fill: currentColor;
}

hr {
  border: 0;
  border-top: 1px solid var(--border);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90dvw;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
}
