ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li .project-title {
  display: flex;
  align-items: center;
}

img {
  fill: currentColor;
}

ul li i {
  margin-right: 0.25em;
  font-size: 1.6em;
  font-style: normal
}

ul li a {
  font-weight: 600;
  color: var(--link);
  transition: color 0.2s ease-in-out;
}

ul li .project-title a {
  font-size: 1.4em;
  text-decoration: underline;
  text-decoration-skip-ink: all;  
}

ul li a:hover {
  color: var(--link-hover);
}

ul li p {
  margin-top: 0.4em;
  color: var(--text-light);
}

hr {
  width: 100%;
}

main .social-link:last-of-type {
  margin-left: 0.8rem;
}

hr.invis {
  margin-top: 2rem;
  visibility: hidden;
}

.icon {
  color: var(--text);
  transition: color 0.2s ease-in-out;
}

.icon:hover {
  color: var(--text-light);
}

.wip {
  display: flex;
  align-items: center;
  pointer-events: none;
  user-select: none;
  background-color: var(--wip);
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  margin-left: 0.4rem;
}

.wip i {
  font-size: 1rem;
}

.wip span {
  font-weight: 600;
  font-size: 0.8rem;
  margin-left: 0.2rem;
  line-height: 1.2;
  color: var(--text-light);
}
